<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Image Host</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body class="body-custom min-h-screen">
    <nav class="header-custom text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex">
                <img src="{{ url_for('static', filename='img/logo_48x48.png') }}" alt="Logo">
                <a href="{{ url_for('index') }}" class="text-xl font-bold">ImageHost</a>
            </div>
            {% if current_user.is_authenticated %}
                <div class="space-x-4 flex">
                    <a href="{{ url_for('dashboard') }}" class="block text-center w-full bg-gray-700 text-white py-2 px-4 rounded-md hover:bg-gray-900 transition duration-200">Dashboard</a>
                    <a href="{{ url_for('logout') }}" class="block text-center w-full bg-gray-700 text-white py-2 px-4 rounded-md hover:bg-gray-900 transition duration-200">Logout</a>
                </div>
            {% else %}
                <div class="space-x-4 flex">
                    <a href="{{ url_for('login_page') }}" class="block text-center w-full bg-gray-700 text-white py-2 px-4 rounded-md hover:bg-gray-900 transition duration-200">
                        Login
                    </a>
                    <a href="{{ url_for('register') }}" class="block text-center w-full bg-gray-700 text-white py-2 px-4 rounded-md hover:bg-gray-900 transition duration-200">
                        Register
                    </a>
                </div>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <footer class="header-custom fixed bottom-0 w-full bg-gray-900 text-white py-4">
        <div class="container mx-auto flex justify-between items-center px-6">
            <div>
                <p>&copy; 2024 ImageHost. All rights reserved.</p>
            </div>
            <div class="flex space-x-4">
                <a href="#" class="hover:text-gray-300">About</a>
                <a href="#" class="hover:text-gray-300">Privacy</a>
                <a href="#" class="hover:text-gray-300">Terms</a>
                <a href="#" class="hover:text-gray-300">Contact</a>
            </div>
        </div>
    </footer>

</body>
</html>