<!-- landing.html -->
{% extends "base.html" %}

{% block content %}
    <main class="container mx-auto p-8">
        <div class="container mx-auto grid grid-cols-2 gap-8">
            <div class="flex flex-col px-24 my-8 items-center">
                <h1 class="text-4xl my-8 font-bold font-mono text-center">Hosting Images, simplified</h1>
                <h1 class="text-xl font-mono italic text-center">A website that allows you to upload and use the images your way.</h1>
            </div>
            <div class="flex flex-col items-center">
                ASd
            </div>
        </div>
    </main>
{% endblock %}
